main {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    margin: 2vw;
}

main img {
    width: 25vw;
    height: calc(25vw * (2400 / 1600))
}

section {
    width: 40vw;
    min-width: 550px;
}

section p {
    margin-top: 0;
    font-size: calc((1.5 - 1) * 1.2vw + .35rem);
}

@media screen and (max-width: 1350px) {
    main {
        flex-flow: row wrap;
        align-items: flex-start;
    }

    main img {
        width: 40vw;
        height: calc(40vw * (2400 / 1600))
    }

    section {
        width: 50vw;
        min-width: 400px;
    }

    section p {
        font-size: calc((1.4 - 1) * 1.2vw + .45rem);
    }
}

@media screen and (max-width: 900px) {

    main img {
        width: 75vw;
        height: calc(75vw * (2400 / 1600))
    }

    section {
        width: 80vw;
        min-width: 0px;
    }

    section p {
        font-size: calc((1.7 - 1) * 1.2vw + .6rem);
    }
}