h3 {
    text-align: center;
}

img {
    width: 60vw;
    margin: auto 20vw 3em 20vw;
}

#contact-copy {
    margin: 3em auto;
}

#instagram, #instagram-link {
    display: block;
    width: 60px;
    height: 60px;
    margin: auto;
}

@media screen and (max-width: 600px) {

    #contact-copy {
        margin: 5vh auto;
    }

    img {
        width: 90vw;
        margin: auto 5vw 5vh 5vw;
    }
}