#heads-up {
    text-align: center;
}

main {
    display: flex;
    flex-flow: row wrap;
    margin: 3vw;
    gap: 2vw;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    width: 30vw;
    min-width: 300px;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: aliceblue;
}

.container:hover .overlay {
    opacity: 1;
}

.overlay p {
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

@media screen and (max-width: 600px) {
    main {
        gap: 10vw;
    }

    .container {
        width: 80vw;
    }
}